# macOS
.DS_Store

# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
**/.metadata

# IDEs
.idea/
.vscode/

# Logs
**/*.log

# Zip / exports
*.zip
backend_asesorias/service_account.json
base_datos/carlitostravel.db
